<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container mt-5 mb-5">
<h2>상세조회</h2>
    <table>
        <tr>
            <th>아이디</th>
            <th>글쓴이</th>
            <th>제목</th>
            <th>내용</th>
            <th>조회수</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        <tr>
            <td th:text="${board.id}"></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardContents}"></td>
            <td th:text="${board.boardHits}"></td>
            <td>
                <button th:onclick="update_fn([[${board.id}]])">수정</button>
            </td>
            <td>
                <button th:onclick="delete_fn([[${board.id}]])">삭제</button>
            </td>
            <td>
                <input type="hidden" id="pass-check" style="display: none;">
            </td>
        </tr>
    </table>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const update_fn = (id) =>{
        const boardPass = [[${board.boardPass}]];
        const inputPass = document.getElementById("pass-check").value;
        if(inputPass.style.display == "none"){
            inputPass.style.display = "block";
            if(inputPass== boardPass){
                location.href=`/board/update/${id}`;
            }else{
                alert("비밀번호가 틀립니다.")
            }
        }else{
            inputPass.style.display="none";
        }

    }

    const delete_fn = (id) =>{
        location.href=`/board/delete/${id}`;
    }
</script>
</html>